*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
    font-weight: 900px;
}
.hm{
    color: #FD6E0A;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}
.btn{
 background-color: #FD6E0A;
   border: none;
   border-radius: 5px;
   padding: 18px 35px;
   font-size: 20px;
   font-weight: bold;
}
.banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-content{
    max-width: 585px;
}
.banner .banner-content h2{
color: #474747;
font-size: 45px;
font-weight: 600px;
margin-bottom: 5px;
}
.banner .banner-content h1{
    margin-bottom: 20px;
    font-size: 85px;
    color: #181818;
    font-weight: bold;
}
.banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
